
.backgound-style{
background-color: #eee;
  position: relative;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 915px;
}

.progress{
    height: 10px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}
.progress:after{
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}
.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 48px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: -25px;
    z-index: 2;
}
.progress.orange:before{ border: 7px solid #fe3b3b; }
.progress.blue:before{ border: 7px solid #1a4966; }
.progress.green:before{ border: 7px solid #53aa2c; }
.progress.purple:before{ border: 7px solid #66406f; }
.progress.orange .progress-value{
    border: 5px solid #fe3b3b;
    color: #fe3b3b;
}
.progress.blue .progress-value{
    border: 5px solid #1a4966;
    color: #1a4966;
}
.progress.green .progress-value{
    border: 5px solid #53aa2c;
    color: #53aa2c;
}
.progress.purple .progress-value{
    border: 5px solid #66406f;
    color: #66406f;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}



//==========RANK SCORE============
.img-exp{
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 20%;
  margin-bottom: 8%;
}

.img-rank{
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 20%;
  margin-bottom: 10px;
}

.border-img{
  border: 2px solid #3fdcfe;
  padding: 5px;
  border-radius: 5px;
}

.text-center p{
  font-size: 14px;
  color: rgb(9, 170, 211);
  font-weight: 600;
}

.text-level{
  font-size: 15px;
  font-weight: 600;
  color: #1ebef7;
}

.fullname-text img{
  width: 40px;
  display: inline;
  margin-left: 10px;

}

.fullname-text{
  margin-bottom: 10px;
}

.border-vip{
  border: 3px solid #fae4a5;
}

.fullname-text h5{
  display: inline;
}

.right{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.left{
  width: 50%;
  display: flex;

}

.tag-achie{
  background-color: #1ebef7;
  border-radius: 5px;
  border: 3px solid #22acc9;
  cursor: default;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 0px 5px;
}

.infor-achie{
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-chall{
  width: 100%;

}

.card .customer{
  min-height: 320px;
}






//================================
//===========AVATAR==============

.avatar {
  position: relative;
  padding: 4px;
  width: 100%;
  margin-bottom: 120px;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;
}

.avatar-large {
  width: 80px;
  height: 80px;
  width: 100%;

}

.body-avatar{
  width: 200px;
  margin-top: 100px;
  position: relative;
  padding: 38px;
  height: 200px;
}

.body-avatar .gold{
  width: 245px;
  margin-top: 100px;
  position: relative;
  padding: 65px;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  border: 2px solid #1a4966;


}

.card-body h5{
  color: #3fdcfe;
  font-weight: bold;
  font-size: 20px;
}

.card-body h6{
  color: #3fdcfe;
  font-weight: bold;
  font-size: 15px;
}

.avatar-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.frame-gold{

}




@keyframes hue {
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

//================================


//==============FRIENDS=============



.panel-default > .panel-heading {
  color: #777777bf;
  background-color: #ffffff;
  border-color: #e2e9e6;
}

.panel-heading{
border-bottom: 1px solid #e2e9e6;
margin-bottom: 10px;
padding: 10px;
}

.panel-body{
margin: 10px 0;
}

.media-heading{
color: #3fdcfe;
}

.panel-footer {
  padding: 10px 0px;
  background-color: #ffffff;
  border-top: 1px solid #e2e9e6;
  border-bottom-right-radius: -1;
  border-bottom-left-radius: -1;
}


.user-friend-list img, .media img {
height:50px;
width:50px;
border-radius: 50%;
margin: 0 2px;
}







//==================================
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 120;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 550px;
}

.modal-dialog{
  max-width: 800px;
}

.error-message{
  color: red;
  text-align: center;
  font-size: 13px;
}

.friend-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friend-card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 370px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid rgb(151, 238, 255);
  display: flex;
}

.friend-card img {
  width: 90px;
    height: 90px;
    border-radius: 10%;
    object-fit: cover;
}

.friend-name {
  font-weight: bold;
}

.friend-info{
  padding: 6% 12% 0 6%;
  cursor: pointer;
}

.friend-image{
  cursor: pointer;
}

.friend-status {
  max-width: 100%; /* Set a maximum width */
  word-wrap: break-word; /* Allow breaking long words */
  overflow-wrap: break-word; /* Alternative for additional browser support */
}

.search {
  display: inline-flex;
  align-items: center;
  background-color: #90ae8a;
  color: rgb(255, 255, 255);
  padding: 6px;
  border-radius: 115px;
}

.search :is(input, button) {
  color: inherit;
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
}

.search__input {
  width: 0;
  transition: width 0.5s;
}

.search__button {
  display: grid;
  place-items: center;
  width: 23px;
  height: 23px;
  cursor: pointer;
  transition: color 0.25s;
}

.search__button:hover {
  color: #e3e3e3;

}

.search:focus-within input {
  width: 180px;

}

.search__input::placeholder {
  color: #eeeded;
}
