<app-header></app-header>
<div class="body-exam">
  <div class="banner-section">
    <div class="banner-content d-flex align-items-center">
      <div class="container" style="height: 100vh;">
        <div class="row justify-content-center" style="margin-top: 200px;">
          <div class="col-lg-12">
            <div class="main-content">

              <div *ngIf="!challengeComing" class="top-area justify-content-center text-center" >
                <h1 [@slideInFromBottom]>CHALLENGE COMING</h1>
                <p [@slideInFromBottom]>Join the knowledge arena challenge, compete for the top position in Quiz Arena</p>
                <h3>Coming soon</h3>
                <div class="btn-play d-flex justify-content-center align-items-center">
                  <!-- <a [@slideInFromBottom] href="" class="cmn-btn">Join Now</a> -->
                </div>
              </div>

              <div *ngIf="challengeComing" class="top-area justify-content-center text-center" >
                <h1 [@slideInFromBottom]>{{challengeComing.examName}}</h1>
                <p [@slideInFromBottom]>Join the knowledge arena challenge, compete for the top position in Quiz Arena</p>
                <h3 *ngIf="countdown  && countdown > 0">{{displayTime}}</h3>
                <div *ngIf="challengeComing.status==2 || showBtnJoin || userOutChallenge" class="btn-play d-flex justify-content-center align-items-center">
                  <a [@slideInFromBottom] *ngIf="user && challengeComing.examId && challengeComing.status!=5"  (click)="joinChallenge(challengeComing.examId)" class="cmn-btn">Join Now</a>
                  <a [@slideInFromBottom] *ngIf="!user && challengeComing.status!=5"  href="#myModal" data-bs-toggle="modal" (click)="changeForm()" class="cmn-btn">Join Now</a>
                </div>
              </div>

            </div>
            <div class="row justify-content-center img-person">
              <div class="col-lg-12">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div class="bottom-area text-center">
                      <img src="assets/images/versus.png" alt="banner-vs">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="ani-illu">
          <img class="left-1 wow fadeInUp" [@slideInFromBottom] src="assets/images/left-banner.png" alt="image" style="visibility: visible;animation-name: fadeInUp;">
          <img class="right-2 wow fadeInUp" [@slideInFromBottom] src="assets/images/right-banner.png" alt="image" style="visibility: visible;animation-name: fadeInUp;">
        </div>
      </div>
    </div>
  </div>

  <div class="available-game-section">
    <div class="overlay pb-120">
      <div class="container-box wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="main-container">
          <div class="row justify-content-between">
            <div class="col-12">
              <div class="section-header-achievements">
                <h2 class="title" >last season's achievements</h2>
                <p>Your ranking of last season</p>
              </div>
            </div>

            <div class="row col-12 content-achievements">
              <div class="col-lg-2 img-achievements">
                <img src="assets/images/achie-gif.gif" alt="image">
              </div>

              <div class="col-lg-10 col-md-12 col-sm-12 d-flex align-items-center">
                <div class="single-item-achie" *ngIf="isShowAchievements && achievements">
                  <div class="row body-single-item">
                    <div class="col-lg-4 col-md-4 d-flex align-items-center img-exam">
                      <img *ngIf="achievements && achievements.image" [src]="achievements.image" alt="image">
                      <img *ngIf="!achievements.image" src="assets/images/examdefault.png" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 d-flex align-items-center">
                      <div class="mid-area">
                        <h4>{{achievements.examName}}</h4>
                        <div class="title-bottom-achie d-flex">
                          <div class="box-date">
                            <div class="date-area-achie bg">
                              <span class="date">{{ achievements.date | date: 'MMM dd YYYY - HH:mm' }}</span>
                            </div>
                          </div>
                          <div class="single-box-achie d-flex">
                            <div class="box-item">
                              <span class="head">Rank</span>
                              <span *ngIf="achievements.topUser" class="sub">Top {{achievements.topUser}}</span>
                            </div>
                            <div class="box-item">
                              <span class="head">Score</span>
                              <span class="sub">{{achievements.score?achievements.score:0}} score</span>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="not-achievements" *ngIf="!isShowAchievements">
                  <h3>Join the challenge and win top 1 right away</h3>
                  <a *ngIf="!user" href="#myModal" class="trigger-btn btn-login" data-bs-toggle="modal" class="cmn-btnView" (click)="changeForm()">Join Now</a>
                  <a *ngIf="user" class="cmn-btnView">Join Now</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="players-week-section">
    <div class="overlay pt-120 pb-120">
      <div class="container-top wow " style="visibility: visible; animation-name: fadeInUp;">
        <div class="row justify-content-center">
          <div class="col-12 mb-30">
            <div class="section-header text-center content-top">
              <h2>Top of previous session</h2>
              <p>Displays the top 3 users with the highest scores in the previous season, at the top of Quiz Arena</p>
            </div>
          </div>
        </div>
        <div class="row mp-none">

          <div class="col-lg-4 col-md-6 item-top" [@slideInFromBottom]>
            <div class="single-item-top text-center">
              <div class="top-level">
                <img src="assets/images/top2.png" alt="image">
              </div>
              <div class="img-area">
                <div class="img-wrapper">
                  <img *ngIf="top3User.length >1 && top3User[1] && top3User[1].images && top3User[1].images.length > 2" [src]="top3User[1].images" alt="image">
                  <img *ngIf="top3User.length<2 || !top3User[1].images || top3User[1].images.length<2" src="assets/images/avatar/avatardefault.png" alt="image">
                </div>
              </div>
              <a href="">
                <h5 *ngIf="top3User.length >1 && top3User[1] && top3User[1].fullname && top3User[1].fullname.length>0">{{top3User[1].fullname}}</h5>
                <h5 *ngIf="top3User.length<2 || !top3User[1].fullname || top3User[1].fullname.length<1">Unknown</h5>
              </a>
              <p class="date">
                <span *ngIf="top3User.length >1 && top3User[1] &&  top3User[1].score && top3User[1].score != 0" class="text-sm earn">{{top3User[1].score}}</span>
                <span *ngIf="top3User.length<2 || !top3User[1].score || top3User[1].score == 0" class="text-sm earn">Unknown</span>
              </p>
              <p class="text-sm credit">
                <span class="text-sm">TOP 2</span>
              </p>
              <a  [routerLink]="['/profile-orther',top3User[1].user_id]" *ngIf="top3User.length >1 &&  top3User[1].user_id && top3User[1].user_id != 0" class="cmn-btnView">View Detail</a>
              <a *ngIf="top3User.length<2 || !top3User[1].user_id || top3User[1].user_id == 0" class="cmn-btnView">View Detail</a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 item-top" [@slideInFromBottom]>
            <div class="single-item-top rank-top1 text-center">
              <div class="top1-level">
                <img src="assets/images/top1.png" alt="image">
              </div>
              <div class="img-area">
                <div class="img-wrapper">
                  <img *ngIf="top3User.length >0 && top3User[0].images && top3User[0].images.length>2" [src]="top3User[0].images" alt="image">
                  <img *ngIf="top3User.length<1 || !top3User[0].images || top3User[0].images.length<2" src="assets/images/avatar/avatardefault.png" alt="image">
                </div>
              </div>
              <a href="">
                <h5 *ngIf=" top3User.length >0 && top3User[0].fullname && top3User[0].fullname.length>0">{{top3User[0].fullname}}</h5>
                <h5 *ngIf="top3User.length<1 || !top3User[0].fullname || top3User[0].fullname.length<1">Unknown</h5>
              </a>
              <p class="date">
                <span *ngIf="top3User.length >0 &&  top3User[0].score && top3User[0].score != 0" class="text-sm earn">{{top3User[0].score}}</span>
                <span *ngIf="top3User.length<1 || !top3User[0].score || top3User[0].score == 0" class="text-sm earn">Unknown</span>
              </p>
              <p class="text-sm credit">
                <img src="assets/images/king-icon.png" alt="image">
                <span class="text-sm">TOP 1</span>
              </p>
              <a  [routerLink]="['/profile-orther',top3User[0].user_id]" *ngIf="top3User.length >0 &&  top3User[0].user_id && top3User[0].user_id != 0" class="cmn-btnView">View Detail</a>
              <a *ngIf="top3User.length<1 || !top3User[0].user_id || top3User[0].user_id == 0" class="cmn-btnView">View Detail</a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 item-top" [@slideInFromBottom] >
            <div class="single-item-top text-center">
              <div class="top-level">
                <img src="assets/images/top3.png" alt="image">
              </div>
              <div class="img-area">
                <div class="img-wrapper">
                  <img *ngIf="top3User.length >2 && top3User[2].images && top3User[2].images.length > 2" [src]="top3User[2].images" alt="image">
                  <img *ngIf="top3User.length<3 || !top3User[2].images || top3User[2].images.length<2" src="assets/images/avatar/avatardefault.png" alt="image">
                </div>
              </div>
              <a href="">
                <h5 *ngIf="top3User.length >2 && top3User[2].fullname && top3User[2].fullname.length>0">{{top3User[2].fullname}}</h5>
                <h5 *ngIf="top3User.length<3 || !top3User[2].fullname || top3User[2].fullname.length<1">Unknown</h5>
              </a>
              <p class="date">
                <span *ngIf="top3User.length >2 &&  top3User[2].score && top3User[2].score != 0" class="text-sm earn">{{top3User[2].score}}</span>
                <span *ngIf="top3User.length<3 || !top3User[2].score || top3User[2].score == 0" class="text-sm earn">Unknown</span>
              </p>
              <p class="text-sm credit">
                <span class="text-sm">TOP 3</span>
              </p>
              <a  [routerLink]="['/profile-orther',top3User[2].user_id]" *ngIf="top3User.length >2 &&  top3User[2].user_id && top3User[2].user_id != 0" class="cmn-btnView">View Detail</a>
              <a *ngIf="top3User.length<3 || !top3User[2].user_id || top3User[2].user_id == 0" class="cmn-btnView">View Detail</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>



  <div class="tournaments-section">
    <div class="overlay pt-120 pb-120">
      <div class="container-list" >

        <div class="row d-flex justify-content-center title-list-exam">
          <div class="col-lg-8 text-center">
            <div class="section-header">
              <h2 class="title">CHALLENGE & EVENT</h2>
              <div class="text-title">
                <p>Show previous season challenges, view season ranking .</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row content-filter">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-input">
              <div class="search">
                <input type="text" class="search__input" placeholder="Search...">
                <div class="search__icon">
                  <fa-icon [icon]="faMagnifyingGlass" class="icon-search"></fa-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-1 col-md-4 col-12">
            <div class="single-input">
              <div class="dropdown" >
                <div class="select" (click)="toggleDropdown()">
                  <span class="selected">{{ selectedOption }}</span>
                  <div class="caret"></div>
                </div>
                <ul class="menu" *ngIf="isDropdownOpen">
                  <li *ngFor="let option of options" (click)="selectOption(option)" [class.active]="selectedOption === option">
                    {{ option }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <h4 style="text-align: center;" *ngIf="!listChallenge || listChallenge.length < 1">COMING SOON</h4>
        <div class="single-item" *ngFor="let item of listChallenge.slice(0, 5)">
          <div class="row body-single-item">
            <div class="col-lg-4 col-md-4 d-flex align-items-center img-exam">
              <img *ngIf="item.image && item.image.length>0" [src]="item.image" alt="image">
              <img *ngIf="!item.image || item.image.length<1" src="assets/images/examdefault.png" alt="image">
            </div>
            <div class="col-lg-6 col-md-8 d-flex align-items-center">
              <div class="mid-area">
                <h4 *ngIf="item.examName && item.examName.length>0">{{item.examName}}</h4>
                <h4 *ngIf="!item.examName || item.examName.length<1">CHALLENGE</h4>
                <div class="title-bottom d-flex">
                  <div class="time-area bg">
                    <fa-icon [icon]="faHourglassStart" class="icon-clock"></fa-icon>
                    <span>Start in </span>
                    <span *ngIf="item.date" class="time">{{item.date | date: 'HH:mm' }}</span>
                    <span *ngIf="!item.date" class="time">Unknown</span>
                  </div>
                  <div class="date-area bg">
                    <span *ngIf="item.date" class="date">{{item.date | date: 'MMM dd YYYY' }}</span>
                    <span *ngIf="!item.date" class="date">Unknown</span>
                  </div>
                </div>
                <div class="single-box d-flex">
                  <div class="box-item">
                    <span class="head">USER</span>
                    <span class="sub">{{item.numberUserJoin?item.numberUserJoin:0}} Users</span>
                  </div>
                  <div class="box-item">
                    <span class="head">QUESTIONS</span>
                    <span class="sub">{{item.countQuestion?item.countQuestion:0}} Questions</span>
                  </div>
                  <div class="box-item">
                    <span class="head">TIME</span>
                    <span class="sub">{{item.time_limit?item.time_limit:0}} Minute</span>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 d-flex align-items-center">
              <div class="prize-area text-center">
                <div class="contain-area">
                  <span class="view-detail"></span>
                  <a [routerLink]="['/challenge-detail',item.examId]" class="cmn-btnView">View Detail</a>
                  <p>See top ranking of exam</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="single-item">
          <div class="row body-single-item">
            <div class="col-lg-4 col-md-4 d-flex align-items-center img-exam">
              <img src="assets/images/FALL22.png" alt="image">
            </div>
            <div class="col-lg-6 col-md-9 d-flex align-items-center">
              <div class="mid-area">
                <h4>CHALLENGE FALL22</h4>
                <div class="title-bottom d-flex">
                  <div class="time-area bg">
                    <fa-icon [icon]="faHourglassStart" class="icon-clock"></fa-icon>
                    <span>Start in </span>
                    <span class="time">22:00</span>
                  </div>
                  <div class="date-area bg">
                    <span class="date">Step 02,2022</span>
                  </div>
                </div>
                <div class="single-box d-flex">
                  <div class="box-item">
                    <span class="head">USER</span>
                    <span class="sub">100 Users</span>
                  </div>
                  <div class="box-item">
                    <span class="head">QUESTIONS</span>
                    <span class="sub">60 Questions</span>
                  </div>
                  <div class="box-item">
                    <span class="head">TIME</span>
                    <span class="sub">60 Minute</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 d-flex align-items-center">
              <div class="prize-area text-center">
                <div class="contain-area">
                  <span class="view-detail"></span>
                  <a href="" class="cmn-btnView">View Detail</a>
                  <p>See top ranking of exam</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="single-item">
          <div class="row body-single-item">
            <div class="col-lg-4 col-md-4 d-flex align-items-center img-exam">
              <img src="assets/images/bossquiz.png" alt="image">
            </div>
            <div class="col-lg-6 col-md-9 d-flex align-items-center">
              <div class="mid-area">
                <h4>Event BOSS QUIZ</h4>
                <div class="title-bottom d-flex">
                  <div class="time-area bg">
                    <fa-icon [icon]="faHourglassStart" class="icon-clock" ></fa-icon>
                    <span>Start in </span>
                    <span class="time">18:00</span>
                  </div>
                  <div class="date-area bg">
                    <span class="date">May 24, 2023</span>
                  </div>
                </div>
                <div class="single-box d-flex">
                  <div class="box-item">
                    <span class="head">USER</span>
                    <span class="sub">50 Users</span>
                  </div>
                  <div class="box-item">
                    <span class="head">QUESTIONS</span>
                    <span class="sub">1000 Questions</span>
                  </div>
                  <div class="box-item">
                    <span class="head">TIME</span>
                    <span class="sub">60 Minute</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 d-flex align-items-center">
              <div class="prize-area text-center">
                <div class="contain-area">
                  <span class="view-detail"></span>
                  <a href="" class="cmn-btnView">View Detail</a>
                  <p>See top ranking of exam</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>


</div>
<app-footer></app-footer>
<div class="notify-error" *ngIf="showError" [@slideInFromBottom]>
  <div class="oaerror danger">
    <strong>Error</strong>- {{messError}}
  </div>
</div>
