

* {
  box-sizing: border-box;
}

.section-heading .line-dec {
  width: 50px;
  height: 2px;
  background-color: #64d0eb;
}

.section-heading h4 {
  color: #2a2a2a;
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.section-heading h4 em {
  font-style: normal;
  color: #64d0eb;
}

/*
---------------------------------------------
Services Style
---------------------------------------------
*/

.services {
  position: relative;
}

// .services:after {
//   content: '';
//   background-image: url(/assets/images/left_back.png);
//   background-repeat: no-repeat;
//   background-size: contain;
//   position: absolute;
//   left: 0;
//   top: 380px;
//   width: 287px;
//   height: 1217px;
//   z-index: 0;
// }

// .services:before {
//   content: '';
//   background-image: url(/assets/images/right_back.png);
//   background-repeat: no-repeat;
//   position: absolute;
//   background-size: contain;
//   right: 0;
//   top: 380px;
//   width: 240px;
//   height: 1041px;
//   z-index: 0;
// }

.services .section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.services .section-heading .line-dec {
  margin: 0 auto;
}

.services .naccs {
  position: relative;
  z-index: 1;
}

.services .icon {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.services .naccs .menu div h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

.services .icon img {
  margin-bottom: 10px;
  max-width: 60px;
  min-width: 60px;
}

.services .naccs .menu {
  text-align: center;
  margin-bottom: 30px;
}

.services .naccs .menu div {
  width: 30%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services .naccs .menu div .thumb {
  display: inline-block;
  width: 100%;
  padding: 15px 0px;
  background-color: #f6f9fa;
  font-size: 20px;
  color: #2793a7;
  font-weight: bold;
}

// .content-body{
//   background-image: url(/assets/images/new.png);
//   background-size: cover;
//   background-repeat: no-repeat;
// }


.services .naccs .menu div.active {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.services ul.nacc {
  height: 100% !important;
  position: relative;
  min-height: 100%;
  list-style: none;
  margin: auto;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 80%;
}

.services ul.nacc li {
  opacity: 0;
  transform: translateX(-50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services ul.nacc li.active {
  transition-delay: 0.3s;
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #64d0eb;
  padding: 80px 120px 50px 120px;
}

.services ul.nacc li {
  width: 100%;
}

.services ul.nacc li .right-image img {
  max-width: 420px;
  float: right;
}

.services .nacc .thumb h4 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 25px;
}

.services .nacc .thumb .main-white-button {
  text-align: right;
  margin-top: 40px;
}

.services .nacc .thumb .main-white-button a {
  background-color: #8d99af;
  color: #fff;
}

.services .nacc .thumb .main-white-button a i {
  background-color: #fff;
  color: #8d99af;
}

.services .left-text h4 {
  font-size: 20px;
  font-weight: 700;
  color: #64d0eb !important;
}

.services .left-text p {
  margin-bottom: 30px;
}

.nacc .ticks-list span {
  display: inline-block;
  opacity: 1;
  margin-right: 45px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
}

.box-content {
    position: relative;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
    /* State */
    /* Style */
    /* Color */
  }
  .box-content:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    clear: both;
    overflow: hidden;
  }
  .box-content .box-title {
    margin: 0px 0px 30px 0px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
  }
  .box-content .box-title .ico {
    margin-right: 8px;
    line-height: 16px;
  }
  .box-content .box-title.with-control .controls {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 0px;
    line-height: 16px;
  }
  .box-content .box-title.with-control .control {
    border: none;
    background: none;
    outline: none;
    height: 16px;
    font-size: 14px;
  }
  .box-content .box-title.with-control .fa-times {
    position: relative;
    top: -1px;
  }
  .box-content .content:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    clear: both;
    overflow: hidden;
  }
  .box-content .dropdown.js__drop_down {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .box-content .dropdown.js__drop_down .dropdown-icon {
    color: #aab2bd;
  }
  @media (min-width: 1025px) {
    .box-content .dropdown.js__drop_down .dropdown-icon:hover {
      color: #435966;
    }
  }
  .box-content .dropdown.js__drop_down .sub-menu {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 100%;
    margin-right: 5px;
    z-index: 20;
    width: 200px;
    margin-top: 2px;
    padding: 10px 0px;
    border: 1px solid rgba(152, 166, 173, 0.15);
    background: #ffffff;
    list-style: none;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  }
  .box-content .dropdown.js__drop_down .sub-menu a {
    display: block;
    padding: 6px 20px 6px 20px;
    color: #435966;
  }
  @media (min-width: 1025px) {
    .box-content .dropdown.js__drop_down .sub-menu a:hover {
      color: #304ffe;
    }
  }
  .box-content .dropdown.js__drop_down .sub-menu .split {
    margin: 9px 0px 9px 0px;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
  }
  .box-content .dropdown.js__drop_down.active .dropdown-icon {
    color: #435966;
  }
  .box-content .dropdown.js__drop_down.active .sub-menu {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  }
  .box-content.card-closed .box-title {
    margin-bottom: 0px !important;
  }
  .box-content.card-closed .box-title.with-control .fa-minus:before {
    content: "\f067";
  }
  .box-content.bordered {
    border-top: 4px solid #435966;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .box-content.bordered-all {
    border: 1px solid #435966;
    border-top: 4px solid #435966;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .box-content.card {
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .box-content.card .box-title {
    margin-bottom: 0px;
    padding: 10px 20px 10px 20px;
    line-height: 30px;
    color: #ffffff !important;
    background-color: #435966;
  }
  .box-content.card .box-title .ico {
    line-height: 30px;
  }
  .box-content.card .box-title .controls {
    top: 17px;
  }
  .box-content.card .dropdown {
    top: 15px;
  }
  .box-content.card .dropdown .dropdown-icon {
    color: #ffffff;
  }
  .box-content.card .card-content {
    padding: 20px;
  }
  .box-content.card.bordered-all {
    border-top: none;
  }
  .box-content.card .dropdown.js__drop_down .dropdown-icon {
    color: #ffffff !important;
  }
  .box-content.card.white .box-title {
    color: #435966 !important;
    background: #ffffff;
    border-bottom: 1px solid #e6e9ed;
  }
  .box-content.primary {
    border-color: #188ae2;
  }
  .box-content.primary .box-title {
    color: #188ae2;
  }
  .box-content.success {
    border-color: #00bf4f;
  }
  .box-content.success .box-title {
    color: #00bf4f;
  }
  .box-content.info {
    border-color: #00aeff;
  }
  .box-content.info .box-title {
    color: #00aeff;
  }
  .box-content.warning {
    border-color: #fbbc05;
  }
  .box-content.warning .box-title {
    color: #fbbc05;
  }
  .box-content.danger {
    border-color: #ea4335;
  }
  .box-content.danger .box-title {
    color: #ea4335;
  }
  .box-content.muted {
    border-color: #f4f8fb;
  }
  .box-content.muted .box-title {
    color: #f4f8fb;
  }
  .box-content.inverse {
    border-color: #212121;
  }
  .box-content.inverse .box-title {
    color: #212121;
  }
  .box-content.purple {
    border-color: #5b69bc;
  }
  .box-content.purple .box-title {
    color: #5b69bc;
  }
  .box-content.pink {
    border-color: #ff8acc;
  }
  .box-content.pink .box-title {
    color: #ff8acc;
  }
  .box-content.lightdark {
    border-color: #f4f8fb;
  }
  .lightdark .box-title {
    color: #f4f8fb;
  }

  .box-content .fz-20{
    font-size: 20px;
  }

  .pb-42{
    padding-bottom: 42px;
  }

  //Widget Stat Chart
  .widget-stat-chart {
    padding-bottom: 10px;
    text-align: right;
  }
  .widget-stat-chart .c100 {
    margin: 0px;
  }
  .widget-stat-chart .counter {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .widget-stat-chart .right-content {
    margin-left: 80px;
  }
  .widget-stat-chart .text {
    color: #aab2bd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
  }

  .widget-stat {
    padding-bottom: 10px;
    text-align: right;
  }
  .widget-stat .counter {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #434a54;
  }
  .widget-stat .percent {
    float: left;
    padding: 15px 15px;
    margin-top: 10px;
    font-size: 30px;
    line-height: 22px;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .widget-stat .percent i {
    font-size: 35px;
    line-height: 22px;
    margin-right: 4px;
  }
  .widget-stat .left-content {
    float: left;
  }
  .widget-stat .right-content {
    margin-left: 130px;
  }
  .mr-10{
    margin-right: 10px;
  }
  .widget-stat .text {
    color: #aab2bd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .bg-warning {
    background-color: #ff8f00 !important;
  }
  a {
    color: #20aee3;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }

  a.link {
    color: #455a64;
  }
  a.link:hover, a.link:focus {
    color: #20aee3;
  }

  .img-responsive {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .img-rounded {
    border-radius: 4px;
  }

  html body .mdi:before,
  html body .mdi-set {
    line-height: initial;
  }

  /*******************
  Headings
  *******************/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #455a64;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  h1 {
    line-height: 40px;
    font-size: 36px;
  }

  h2 {
    line-height: 36px;
    font-size: 35px;
  }

  h3 {
    line-height: 30px;
    font-size: 21px;
  }

  h4 {
    line-height: 22px;
    font-size: 18px;
  }

  h5 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
  }

  h6 {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
  }

  .display-5 {
    font-size: 3rem;
  }

  .display-6 {
    font-size: 36px;
  }

  .box {
    border-radius: 4px;
    padding: 10px;
  }

  html body .dl {
    display: inline-block;
  }
  html body .db {
    display: block;
  }

  .no-wrap td,
  .no-wrap th {
    white-space: nowrap;
  }

  /*******************
  Blockquote
  *******************/
  html body blockquote {
    border-left: 5px solid #20aee3;
    border: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;
  }

  .clear {
    clear: both;
  }

  ol li {
    margin: 5px 0;
  }

  /*******************
  Paddings
  *******************/
  html body .p-0 {
    padding: 0px;
  }
  html body .p-10 {
    padding: 10px;
  }
  html body .p-20 {
    padding: 20px;
  }
  html body .p-30 {
    padding: 30px;
  }
  html body .p-l-0 {
    padding-left: 0px;
  }
  html body .p-l-10 {
    padding-left: 10px;
  }
  html body .p-l-20 {
    padding-left: 20px;
  }
  html body .p-r-0 {
    padding-right: 0px;
  }
  html body .p-r-10 {
    padding-right: 10px;
  }
  html body .p-r-20 {
    padding-right: 20px;
  }
  html body .p-r-30 {
    padding-right: 30px;
  }
  html body .p-r-40 {
    padding-right: 40px;
  }
  html body .p-t-0 {
    padding-top: 0px;
  }
  html body .p-t-10 {
    padding-top: 10px;
  }
  html body .p-t-20 {
    padding-top: 20px;
  }
  html body .p-t-30 {
    padding-top: 30px;
  }
  html body .p-b-0 {
    padding-bottom: 0px;
  }
  html body .p-b-5 {
    padding-bottom: 5px;
  }
  html body .p-b-10 {
    padding-bottom: 10px;
  }
  html body .p-b-20 {
    padding-bottom: 20px;
  }
  html body .p-b-30 {
    padding-bottom: 30px;
  }
  html body .p-b-40 {
    padding-bottom: 40px;
  }

  /*******************
  Margin
  *******************/
  html body .m-0 {
    margin: 0px;
  }
  html body .m-l-5 {
    margin-left: 5px;
  }
  html body .m-l-10 {
    margin-left: 10px;
  }
  html body .m-l-15 {
    margin-left: 15px;
  }
  html body .m-l-20 {
    margin-left: 20px;
  }
  html body .m-l-30 {
    margin-left: 30px;
  }
  html body .m-l-40 {
    margin-left: 40px;
  }
  html body .m-r-5 {
    margin-right: 5px;
  }
  html body .m-r-10 {
    margin-right: 10px;
  }
  html body .m-r-15 {
    margin-right: 15px;
  }
  html body .m-r-20 {
    margin-right: 20px;
  }
  html body .m-r-30 {
    margin-right: 30px;
  }
  html body .m-r-40 {
    margin-right: 40px;
  }
  html body .m-t-0 {
    margin-top: 0px;
  }
  html body .m-t-5 {
    margin-top: 5px;
  }
  html body .m-t-10 {
    margin-top: 10px;
  }
  html body .m-t-15 {
    margin-top: 15px;
  }
  html body .m-t-20 {
    margin-top: 20px;
  }
  html body .m-t-30 {
    margin-top: 30px;
  }
  html body .m-t-40 {
    margin-top: 40px;
  }
  html body .m-b-0 {
    margin-bottom: 0px;
  }
  html body .m-b-5 {
    margin-bottom: 5px;
  }
  html body .m-b-10 {
    margin-bottom: 10px;
  }
  html body .m-b-15 {
    margin-bottom: 15px;
  }
  html body .m-b-20 {
    margin-bottom: 20px;
  }
  html body .m-b-30 {
    margin-bottom: 30px;
  }
  html body .m-b-40 {
    margin-bottom: 40px;
  }

  /*******************
  vertical alignment
  *******************/
  html body .vt {
    vertical-align: top;
  }
  html body .vm {
    vertical-align: middle;
  }
  html body .vb {
    vertical-align: bottom;
  }

  /*******************
  Opacity
  *******************/
  .op-5 {
    opacity: 0.5;
  }

  .op-3 {
    opacity: 0.3;
  }

  /*******************
  font weight
  *******************/
  html body .font-bold {
    font-weight: 700;
  }
  html body .font-normal {
    font-weight: normal;
  }
  html body .font-light {
    font-weight: 300;
  }
  html body .font-medium {
    font-weight: 500;
  }
  html body .font-16 {
    font-size: 16px;
  }
  html body .font-12 {
    font-size: 12px;
  }
  html body .font-14 {
    font-size: 14px;
  }
  html body .font-10 {
    font-size: 10px;
  }
  html body .font-18 {
    font-size: 18px;
  }
  html body .font-20 {
    font-size: 20px;
  }

  /*******************
  Border
  *******************/
  html body .b-0 {
    border: none !important;
  }
  html body .b-r {
    border-right: 1px solid rgba(120, 130, 140, 0.13);
  }
  html body .b-l {
    border-left: 1px solid rgba(120, 130, 140, 0.13);
  }
  html body .b-b {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  }
  html body .b-t {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
  }
  html body .b-all {
    border: 1px solid rgba(120, 130, 140, 0.13) !important;
  }

  /*******************
  Thumb size
  *******************/
  .thumb-sm {
    height: 32px;
    width: 32px;
  }

  .thumb-md {
    height: 48px;
    width: 48px;
  }

  .thumb-lg {
    height: 88px;
    width: 88px;
  }

  .hide {
    display: none;
  }

  .img-circle {
    border-radius: 100%;
  }

  .radius {
    border-radius: 4px;
  }

  /*******************
  Text Colors
  *******************/
  .text-white {
    color: #ffffff !important;
  }

  .text-danger {
    color: #ff5c6c !important;
  }

  .text-muted {
    color: #bcc3d3 !important;
  }

  .text-warning {
    color: #ff9041 !important;
  }

  .text-success {
    color: #24d2b5 !important;
  }

  .text-info {
    color: #20aee3 !important;
  }

  .text-inverse {
    color: #2f3d4a !important;
  }

  html body .text-blue {
    color: #02bec9;
  }
  html body .text-purple {
    color: #7460ee;
  }
  html body .text-primary {
    color: #6772e5 !important;
  }
  html body .text-megna {
    color: #56c0d8;
  }
  html body .text-dark {
    color: #67757c;
  }
  html body .text-themecolor {
    color: #20aee3;
  }

  /*******************
  Background Colors
  *******************/
  .bg-primary {
    background-color: #6772e5 !important;
  }

  .bg-success {
    background-color: #24d2b5 !important;
  }

  .bg-info {
    background-color: #20aee3 !important;
  }

  .bg-warning {
    background-color: #ff9041 !important;
  }

  .bg-danger {
    background-color: #ff5c6c !important;
  }

  html body .bg-megna {
    background-color: #56c0d8;
  }
  html body .bg-theme {
    background-color: #20aee3;
  }
  html body .bg-inverse {
    background-color: #2f3d4a;
  }
  html body .bg-purple {
    background-color: #7460ee;
  }
  html body .bg-light-part {
    background-color: rgba(0, 0, 0, 0.02);
  }
  html body .bg-light-primary {
    background-color: #f1effd;
  }
  html body .bg-light-success {
    background-color: #e8fdeb;
  }
  html body .bg-light-info {
    background-color: #cfecfe;
  }
  html body .bg-light-extra {
    background-color: #ebf3f5;
  }
  html body .bg-light-warning {
    background-color: #fff8ec;
  }
  html body .bg-light-danger {
    background-color: #f9e7eb;
  }
  html body .bg-light-inverse {
    background-color: #f6f6f6;
  }
  html body .bg-light {
    background-color: #e9edf2;
  }
  html body .bg-white {
    background-color: #ffffff;
  }

  /*******************
  Rounds
  *******************/
  .round {
    line-height: 48px;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
    background: #20aee3;
  }
  .round img {
    border-radius: 100%;
  }

  .round-lg {
    line-height: 65px;
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

  .round.round-info {
    background: #20aee3;
  }

  .round.round-warning {
    background: #ff9041;
  }

  .round.round-danger {
    background: #ff5c6c;
  }

  .round.round-success {
    background: #24d2b5;
  }

  .round.round-primary {
    background: #6772e5;
  }

  /*******************
  Labels
  *******************/
  .label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
  }

  .label-rounded {
    border-radius: 60px;
  }

  .label-custom {
    background-color: #56c0d8;
  }

  .label-success {
    background-color: #24d2b5;
  }

  .label-info {
    background-color: #20aee3;
  }

  .label-warning {
    background-color: #ff9041;
  }

  .label-danger {
    background-color: #ff5c6c;
  }

  .label-megna {
    background-color: #56c0d8;
  }

  .label-primary {
    background-color: #6772e5;
  }

  .label-purple {
    background-color: #7460ee;
  }

  .label-red {
    background-color: #fb3a3a;
  }

  .label-inverse {
    background-color: #2f3d4a;
  }

  .label-default {
    background-color: #e9edf2;
  }

  .label-white {
    background-color: #ffffff;
  }

  .label-light-success {
    background-color: #e8fdeb;
    color: #24d2b5;
  }

  .label-light-info {
    background-color: #cfecfe;
    color: #20aee3;
  }

  .label-light-warning {
    background-color: #fff8ec;
    color: #ff9041;
  }

  .label-light-danger {
    background-color: #f9e7eb;
    color: #ff5c6c;
  }

  .label-light-megna {
    background-color: #e0f2f4;
    color: #56c0d8;
  }

  .label-light-primary {
    background-color: #f1effd;
    color: #6772e5;
  }

  .label-light-inverse {
    background-color: #f6f6f6;
    color: #2f3d4a;
  }

  /*******************
   Badge
  ******************/
  .badge {
    font-weight: 400;
  }

  .badge-xs {
    font-size: 9px;
  }

  .badge-xs,
  .badge-sm {
    transform: translate(0, -2px);
  }

  .badge-success {
    background-color: #24d2b5;
  }

  .badge-info {
    background-color: #20aee3;
  }

  .badge-primary {
    background-color: #6772e5;
  }

  .badge-warning {
    background-color: #ff9041;
    color: #ffffff;
  }

  .badge-danger {
    background-color: #ff5c6c;
  }

  .badge-purple {
    background-color: #7460ee;
  }

  .badge-red {
    background-color: #fb3a3a;
  }

  .badge-inverse {
    background-color: #2f3d4a;
  }

  /*******************
  List-style-none
  ******************/
  ul.list-style-none {
    margin: 0px;
    padding: 0px;
  }
  ul.list-style-none li {
    list-style: none;
  }
  ul.list-style-none li a {
    color: #67757c;
    padding: 8px 0px;
    display: block;
    text-decoration: none;
  }
  ul.list-style-none li a:hover {
    color: #20aee3;
  }

  /*******************
  dropdown-item
  ******************/
  .dropdown-item {
    padding: 8px 1rem;
    color: #67757c;
  }

  /*******************
  Layouts
  ******************/
  .card-no-border .card {
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
  }

  .card-no-border .shadow-none {
    box-shadow: none;
  }

  .card-outline-danger,
  .card-outline-info,
  .card-outline-warning,
  .card-outline-success,
  .card-outline-primary {
    background: #ffffff;
  }

  .card-fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
  }

  /*******************/
  /*single column*/
  /*******************/
  .single-column .left-sidebar {
    display: none;
  }
  .single-column .page-wrapper {
    margin-left: 0px;
  }

  .fix-width {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }

  .card-body {
    padding: 1.25rem;
  }

  .card-title {
    color: #007bff;
    font-size: 20px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .table td, .table th {
    padding: 0.75rem;
  }

  .card-subtitle {
    margin-top: -0.375rem;
  }

  .table > :not(:last-child) > :last-child > * {
    border-bottom-color: #e9ecef;
  }

  small {
    font-size: 80%;
    font-weight: 400;
  }

  .error-box .error-body .error-title {
    font-size: 210px !important;
    font-weight: 900 !important;
    line-height: 210px !important;
  }

  .form-control, .form-select {
    height: calc(1.5em + 0.75rem + 2px);
  }

  textarea.form-control {
    height: auto;
  }

  select.form-control.form-control-line {
    -webkit-appearance: auto;
    -moz-appearance: auto;
  }

  .dropdown-menu:empty {
    display: none;
  }

  /*
  Template Name: Admin Pro Admin
  Author: Wrappixel
  Email: niravjoshi87@gmail.com
  File: scss
  */
  /*******************
  Main sidebar
  ******************/
  .left-sidebar {
    position: absolute;
    width: 260px;
    height: 100%;
    top: 0px;
    z-index: 20;
    padding-top: 70px;
    background: #fff;
    border-right: 1px solid rgba(120, 130, 140, 0.13);
  }

  .fix-sidebar .left-sidebar {
    position: fixed;
  }

  /*******************
  use profile section
  ******************/
  .sidebar-nav .user-profile > a img {
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
  }
  .sidebar-nav .user-profile > ul {
    padding-left: 40px;
  }

  /*******************
  sidebar navigation
  ******************/
  .scroll-sidebar {
    height: 100%;
  }
  .scroll-sidebar.ps .ps__scrollbar-y-rail {
    left: 2px;
    right: auto;
    background: none;
    width: 6px;
    /* If using `left`, there shouldn't be a `right`. */
  }

  .collapse.in {
    display: block;
  }

  .sidebar-nav {
    background: #fff;
    padding: 15px 0 0 0px;
  }
  .sidebar-nav ul {
    margin: 0px;
    padding: 0px;
  }
  .sidebar-nav ul li {
    list-style: none;
  }
  .sidebar-nav ul li a {
    color: #8d97ad;
    padding: 10px 35px 10px 15px;
    display: block;
    font-size: 15px;
    font-weight: 400;
  }
  .sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #20aee3;
  }
  .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i {
    color: #20aee3;
  }
  .sidebar-nav ul li a.active {
    font-weight: 500;
    color: #263238;
  }
  .sidebar-nav ul li ul {
    padding-left: 40px;
  }
  .sidebar-nav ul li ul li a {
    padding: 7px 35px 7px 15px;
  }
  .sidebar-nav ul li ul ul {
    padding-left: 15px;
  }
  .sidebar-nav ul li.nav-small-cap {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 30px 14px 14px 0px;
    color: #bcc3d3;
    font-weight: 500;
  }
  .sidebar-nav ul li.nav-devider {
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
    margin: 15px 0;
  }
  .sidebar-nav > ul > li > a {
    border-left: 3px solid transparent;
  }
  .sidebar-nav > ul > li > a i {
    width: 38px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: #787f91;
  }
  .sidebar-nav > ul > li > a .label {
    float: right;
    margin-top: 2px;
  }
  .sidebar-nav > ul > li > a.active {
    font-weight: 400;
    color: #26c6da;
    border-left: 3px solid #20aee3;
  }
  .sidebar-nav > ul > li {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .sidebar-nav > ul > li.active > a {
    color: #20aee3;
    font-weight: 500;
  }
  .sidebar-nav > ul > li.active > a i {
    color: #20aee3;
  }
  .sidebar-nav .waves-effect {
    transition: none;
    -webkit-transition: none;
    -o-transition: none;
  }

  /****************
  When click on sidebar toggler and also for tablet
  *****************/
  @media (min-width: 768px) {
    .mini-sidebar .sidebar-nav #sidebarnav li {
      position: relative;
    }

    .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
      position: absolute;
      left: 70px;
      top: 46px;
      width: 220px;
      padding-bottom: 10px;
      z-index: 1001;
      background: #edf0f5;
      display: none;
      padding-left: 1px;
    }

    .mini-sidebar .user-profile .profile-img {
      width: 45px;
    }
    .mini-sidebar .user-profile .profile-img .setpos {
      top: -35px;
    }

    .mini-sidebar.fix-sidebar .left-sidebar {
      position: fixed;
    }

    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul {
      height: auto !important;
      overflow: auto;
    }

    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul,
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul.collapse {
      display: block;
    }

    .mini-sidebar .sidebar-nav #sidebarnav > li > a.has-arrow:after {
      display: none;
    }

    .mini-sidebar .left-sidebar {
      width: 70px;
    }
    .mini-sidebar .sidebar-nav #sidebarnav .user-profile > a {
      padding: 12px 20px;
    }
    .mini-sidebar .scroll-sidebar {
      padding-bottom: 0px;
      position: absolute;
    }
    .mini-sidebar .hide-menu,
  .mini-sidebar .nav-small-cap,
  .mini-sidebar .sidebar-footer,
  .mini-sidebar .user-profile .profile-text,
  .mini-sidebar > .label {
      display: none;
    }
    .mini-sidebar .nav-devider {
      width: 70px;
    }
    .mini-sidebar .sidebar-nav {
      background: transparent;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li > a {
      padding: 12px 20px;
      width: 70px;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a {
      width: 290px;
      background: #edf0f5;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .hide-menu {
      display: inline;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .label {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .mini-sidebar .left-sidebar {
      position: fixed;
    }
    .mini-sidebar .left-sidebar,
  .mini-sidebar .sidebar-footer {
      left: -260px;
    }
    .mini-sidebar.show-sidebar .left-sidebar,
  .mini-sidebar.show-sidebar .sidebar-footer {
      left: 0px;
    }
  }
  /*
  Template Name: Admin pro Admin
  Author: Wrappixel
  Email: niravjoshi87@gmail.com
  File: scss
  */
  /*
  Template Name: Admin Pro Admin
  Author: Wrappixel
  Email: niravjoshi87@gmail.com
  File: scss
  */
  /*Theme Colors*/
  /*bootstrap Color*/
  /*Light colors*/
  /*Normal Color*/
  /*Extra Variable*/
  /*==============================================================
   For all pages
   ============================================================== */
  #main-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .boxed #main-wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  }
  .boxed #main-wrapper .sidebar-footer {
    position: absolute;
  }
  .boxed #main-wrapper .topbar {
    max-width: 1300px;
  }
  .boxed #main-wrapper .footer {
    display: none;
  }

  .page-wrapper {
    background: #f6f9fa;

  }

  .container-fluid {
    padding: 25px 25px 0px 25px;
  }


  .card .card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #bcc3d3;
  }


  /*******************
   Topbar
  *******************/
  .fix-header .topbar {
    position: fixed;
    width: 100%;
  }
  .fix-header .page-wrapper {
    padding-top: 70px;
    min-height: 100vh;
    height: 100%;
  }
  .fix-header .right-side-panel {
    top: 70px;
    height: calc(100% - 70px);
  }

  .header-table{
    display: flex;

  }

  .header-title{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    width: 50%;
  }

  .topbar {
    position: relative;
    z-index: 50;
  }
  .topbar .navbar-collapse {
    padding: 0px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  }
  .topbar .top-navbar {
    min-height: 70px;
    padding: 0px;
  }
  .topbar .top-navbar .dropdown-toggle::after {
    display: none;
  }
  .topbar .top-navbar .navbar-header {
    line-height: 72px;
    padding-left: 10px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  }
  .topbar .top-navbar .navbar-header .navbar-brand {
    margin-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
  }
  .topbar .top-navbar .navbar-header .navbar-brand b {
    line-height: 70px;
    display: inline-block;
  }
  .topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    line-height: 54px;
  }
  .topbar .top-navbar .navbar-nav > .nav-item > span {
    line-height: 65px;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    padding: 0 10px;
  }
  .topbar .top-navbar .navbar-nav > .nav-item.show {
    background: rgba(0, 0, 0, 0.05);
  }
  .topbar .u-pro {
    margin-left: 10px;
  }
  .topbar .profile-pic {
    white-space: nowrap;
    padding-left: 15px;
    border-left: 1px solid rgba(120, 130, 140, 0.13);
  }
  .topbar .profile-pic img {
    width: 30px;
    border-radius: 100%;
  }
  .topbar .profile-pic span {
    font-size: 14px;
    white-space: nowrap;
  }
  .topbar .dropdown-menu {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    border-color: rgba(120, 130, 140, 0.13);
  }
  .topbar .dropdown-menu .dropdown-item {
    padding: 7px 1.5rem;
  }
  .topbar ul.dropdown-user {
    padding: 0px;
    min-width: 270px;
  }
  .topbar ul.dropdown-user li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .topbar ul.dropdown-user li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13);
  }
  .topbar ul.dropdown-user li .dw-user-box {
    padding: 10px 15px;
  }
  .topbar ul.dropdown-user li .dw-user-box .u-img {
    width: 70px;
    display: inline-block;
    vertical-align: top;
  }
  .topbar ul.dropdown-user li .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px;
  }
  .topbar ul.dropdown-user li .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
  }
  .topbar ul.dropdown-user li .dw-user-box .u-text h4 {
    margin: 0px;
    font-size: 15px;
  }
  .topbar ul.dropdown-user li .dw-user-box .u-text p {
    margin-bottom: 2px;
    font-size: 12px;
  }
  .topbar ul.dropdown-user li .dw-user-box .u-text .btn {
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block;
  }
  .topbar ul.dropdown-user li .dw-user-box .u-text .btn:hover {
    background: #e6294b;
  }
  .topbar ul.dropdown-user li a {
    padding: 9px 15px;
    display: block;
    color: #67757c;
  }
  .topbar ul.dropdown-user li a:hover {
    background: #e9edf2;
    color: #20aee3;
    text-decoration: none;
  }


  /*-- ==============================================================
   Small Desktop & above all (1024px)
   ============================================================== */
  @media (min-width: 1024px) {
    .page-wrapper {
      margin-left: 260px;
    }
  }
  @media (max-width: 1023px) {
    .page-wrapper {
      margin-left: 70px;
      transition: 0.2s ease-in;
    }

    .widget-app-columns {
      column-count: 1;
    }

    .inbox-center a {
      width: 200px;
    }

    .hdr-nav-bar .navbar .navbar-nav > li a {
      padding: 12px 15px;
      border-bottom: 0px solid transparent;
      border-left: 2px solid transparent;
    }
    .hdr-nav-bar .navbar .navbar-nav > li:hover a {
      padding: 12px 20px;
    }
    .hdr-nav-bar .call-to-act .custom-select {
      margin-bottom: 10px;
    }

    .d-flex {
      display: block !important;
    }
    .d-flex.no-block {
      display: flex !important;
    }
  }
  /*-- ==============================================================
   Ipad & above all(768px)
   ============================================================== */
  @media (min-width: 768px) {
    .navbar-header {
      width: 260px;
      flex-shrink: 0;
    }
    .navbar-header .navbar-brand {
      padding-top: 0px;
    }

    /*This is for the breeadcrumd*/
    .page-titles .breadcrumb {
      text-transform: uppercase;
    }

    .card-group .card:first-child,
  .card-group .card:not(:first-child):not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.03);
    }

    .material-icon-list-demo .icons div {
      width: 33%;
      padding: 15px;
      display: inline-block;
      line-height: 40px;
    }

    .mini-sidebar .page-wrapper {
      margin-left: 70px;
    }

    .flex-wrap {
      flex-wrap: nowrap !important;
      -webkit-flex-wrap: nowrap !important;
    }
  }
  /*-- ==============================================================
   Phone and below ipad(767px)
   ============================================================== */
  @media (max-width: 767px) {
    .container-fluid {
      padding: 25px 15px 25px 15px;
    }

    /*Header*/
    .topbar {
      position: fixed;
      width: 100%;
    }
    .topbar .top-navbar {
      flex-direction: row;
      flex-wrap: nowrap;
      -webkit-align-items: center;
    }
    .topbar .top-navbar .navbar-collapse {
      display: flex;
      width: 100%;
    }
    .topbar .top-navbar .navbar-nav {
      flex-direction: row;
    }
    .topbar .top-navbar .navbar-nav > .nav-item.show {
      position: static;
    }
    .topbar .top-navbar .navbar-nav > .nav-item.show .dropdown-menu {
      width: 100%;
      margin-top: 0px;
    }
    .topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .topbar .top-navbar .navbar-nav .dropdown-menu {
      position: absolute;
    }

    .mega-dropdown .dropdown-menu {
      height: 480px;
      overflow: auto;
    }

    /*Sidebar and wrapper*/
    .mini-sidebar .page-wrapper {
      margin-left: 0px;
      padding-top: 70px;
    }

    .comment-text .comment-footer .action-icons {
      display: block;
      padding: 10px 0;
    }

    .vtabs .tabs-vertical {
      width: auto;
    }

    /*Footer*/
    .material-icon-list-demo .icons div {
      width: 100%;
    }

    .error-page .footer {
      position: fixed;
      bottom: 0px;
      z-index: 10;
    }

    .error-box {
      position: relative;
      padding-bottom: 60px;
    }

    .error-body {
      padding-top: 10%;
    }
    .error-body h1 {
      font-size: 100px;
      font-weight: 600;
      line-height: 100px;
    }

    .login-register {
      position: relative;
      overflow: hidden;
    }

    .login-box {
      width: 90%;
    }

    .login-sidebar {
      padding: 10% 0;
    }
    .login-sidebar .login-box {
      position: relative;
    }

    /*This is for chat page*/
    .chat-main-box .chat-left-aside {
      left: -250px;
      position: absolute;
      transition: 0.5s ease-in;
      background: #ffffff;
    }
    .chat-main-box .chat-left-aside.open-pnl {
      left: 0px;
    }
    .chat-main-box .chat-left-aside .open-panel {
      display: block;
    }

    .chat-main-box .chat-right-aside {
      width: 100%;
    }

    /*Timeline*/
    ul.timeline:before {
      left: 40px;
    }

    ul.timeline > li > .timeline-panel {
      width: calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
      top: 16px;
      left: 15px;
      margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
      float: right;
    }

    ul.timeline > li > .timeline-panel:before {
      right: auto;
      left: -15px;
      border-right-width: 15px;
      border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
      right: auto;
      left: -14px;
      border-right-width: 14px;
      border-left-width: 0;
    }

    /*Contact app page*/
    .left-aside {
      width: 100%;
      position: relative;
      border: 0px;
    }

    .right-aside {
      margin-left: 0px;
    }

    .flex-wrap {
      flex-wrap: wrap !important;
      -webkit-flex-wrap: wrap !important;
    }

    .chat-list li .chat-content {
      width: calc(100% - 80px);
    }

    /*Calendar*/
    .fc-toolbar .fc-left, .fc-toolbar .fc-right, .fc-toolbar .fc-center {
      float: none;
      display: block;
      text-align: center;
      margin-top: 10px;
      overflow: hidden;
    }
  }


  //load=======================
  /*******************
  Preloader
  ********************/
  .preloader{
    width: 100%;
    height: 100%;
    top:0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
    .cssload-speeding-wheel{
        position: absolute;
        top: calc(50% - 3.5px);
        left: calc(50% - 3.5px);
    }
  }
  .loader,
  .loader__figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

  .loader {
  overflow: visible;
  padding-top: 2em;
  height: 0;
  width: 2em;
  }

  .loader__figure {
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 0 solid #1976d2;
  border-radius: 50%;
  -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .loader__label {
  float: left;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0.5em 0 0 50%;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: #1976d2;
  white-space: nowrap;
  -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @-webkit-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #1976d2;
  }
  29% {
    background-color: #1976d2;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
  }
  @-moz-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #1976d2;
  }
  29% {
    background-color: #1976d2;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
  }
  @keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #1976d2;
  }
  29% {
    background-color: #1976d2;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
  }
  @-webkit-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
  }
  @-moz-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
  }
  @keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
  }

  .topbar{
    background-color: #ffffff;
  }
  .table-responsive {
    min-height: 700px;
    overflow: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

#search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

#filter-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filter-select option {
    padding: 5px;
    background-color: #fff;
}

/* CSS cho phần tiêu đề của bảng */
table thead th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Màu nền của tiêu đề */
    z-index: 1; /* Đảm bảo tiêu đề hiển thị trên dữ liệu cuộn */
}
.overflow-hidden {
    overflow: hidden !important;
}
.progress {
    position: relative;
    overflow-x: visible;
    overflow-y: visible;
}

.progress .progress-bar {
    position: relative;
    overflow: visible;
    border-radius: 0.325rem;
}

.progress .progress-percent {
    color: var(--bs-gray-600);
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    right: 0;
    top: -24px;
    font-size: 12px;
}

.progress .progress-percent-simple {
    position: absolute;
    right: 0;
    top: -20px;
    font-size: 14px;
}

.progress.progress-percent-bg .progress-percent {
    background: var(--bs-dark);
    padding: 2px 5px;
    border-radius: 2px;
    color: var(--bs-body-bg);
    line-height: 16px;
    position: absolute;
    right: 0;
    top: -25px;
    font-size: 10px;
}

.progress.progress-percent-bg .progress-percent:before {
    border-top-color: var(--bs-dark);
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
}

.progress.progress-percent-bg .progress-percent:after, .progress.progress-percent-bg .progress-percent:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.progress.progress-percent-bg .progress-percent:after {
    border-top-color: var(--bs-dark);
    border-width: 4px;
    left: 50%;
    margin-left: -4px;
}

.progress.progress-xs {
    height: 3px;
}

.progress.progress-sm {
    height: 10px;
}

.progress.progress-md {
    height: 10px;
}

.progress.progress-lg {
    height: 16px;
}

.progress.progress-xl {
    height: 20px;
}

.bg-opacity-10 {
    --bs-bg-opacity: 0.1;
}

.selectable-row {
    cursor: pointer;
}
.selected {
    background-color: #007bff;
    color: #fff;
}

.pagination {
  margin-top: 15px;
}

.pagination a {
  margin-right: 5px;
  cursor: pointer;
}

.pagination a.active {
  font-weight: bold;
  color: #007bff; /* or any color of your choice */
}

/* Add this CSS to your stylesheets */

/* Style the modal background overlay */
.modal-backdrop {
  opacity: 0.5;
}

/* Style the modal content */
.custom-modal {
  border-radius: 10px;
}

/* Style the modal header */
.custom-modal .modal-header {
  background-color: #64d0eb; /* Change the background color as needed */
  color: white; /* Change the text color as needed */
  border-bottom: 1px solid #dee2e6; /* Add a border at the bottom */
}

/* Style the modal title */
.custom-modal .modal-title {
  font-weight: bold;
}

/* Style the modal body */
.custom-modal .modal-body {
  padding: 20px; /* Add some padding to the modal body */
}

/* Style the modal footer */
.custom-modal .modal-footer {
  border-top: 1px solid #dee2e6; /* Add a border at the top */
  padding: 10px; /* Add some padding to the modal footer */
  gap: 25%;
  padding-right: 10%;
}

/* Style the close button */
.custom-modal .btn-close {
  color: white; /* Change the close button color as needed */
}

/* Style the select dropdown */
.custom-modal select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the input field */
.custom-modal input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the close button in the footer */
.custom-modal .modal-footer .btn-secondary {
  background-color: #6c757d; /* Change the button color as needed */
  color: white; /* Change the text color as needed */
}

.custom-modal .modal-footer #saveButton {
  background-color: #28a745; /* Change the button color as needed */
  color: white; /* Change the text color as needed */
}

.btn-save-close{
  padding: 2% 10%;
}

.horizontal-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
}

.horizontal-container button {
  align-self: baseline;
}

.btn-send-mail{
  padding: 2% 10%;
}

.btn-reset{
  display: inline-block;
  padding: 8px 7px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid #aa2121;
  border-radius: 5px;
  background-color: #e21313;
  color: #fff;
  margin-bottom: 20px;
}

.btn-reset:hover{
  background-color: #bc0d0d;
}

.confirmation-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.confirmation-message {
  margin-bottom: 20px;
  font-size: 16px;
}

.confirmation-actions {
  display: flex;
  gap: 10px;
}


.btn-send-mail{
  display: inline-block;
  padding: 8px 7px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid #218fc8;
  border-radius: 5px;
  background-color: #23a3e5;
  color: #fff;
  margin-bottom: 20px;

}

.avatar img{
  border-radius: 50%;
  object-fit: cover;
  width: 55px;
  height: 55px;
}


/* CSS cho phần header */
.title-note {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Màu chữ tùy chọn */
  margin-right: 10px; /* Khoảng cách giữa title và line */
}

/* CSS cho đường line */
.line-br {
  width: 100%;
  height: 1px;
  background-color: #ddd; /* Màu đường line */
  margin: 10px 0; /* Khoảng cách trên và dưới đường line */
}

.inside-line {
  width: 50px; /* Độ dài đường line */
  height: 1px;
  background-color: #333; /* Màu đường line */
}

/* CSS cho phần modal options */
.modal-options {
  padding: 10px;
  border: 1px solid #07a302; /* Viền của phần modal options */
  background-color: #e7f7e1; /* Màu nền của phần modal options */
  margin-top: 10px; /* Khoảng cách giữa đường line và phần modal options */
}

/* CSS cho label */
.title-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.subject{
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/* CSS cho textarea */
.content-text {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; /* Cho phép chỉnh kích thước theo chiều dọc */
}

.dialog-content {
  padding: 20px;
}
/* CSS cho dialog header */
.dialog-header {
  text-align: center;
  padding: 0 20px 20px 20px;
  border-bottom: 2px solid #ddd; /* Đường viền dưới tiêu đề */
}

/* CSS cho tiêu đề */
h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

/* CSS cho nút Send */
button.send-btn {
  padding: 10px 30px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #28a745; /* Màu xanh lá cây */
  color: white;
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
}

button.send-btn:hover {
  background-color: #218838; /* Màu xanh lá cây đậm khi hover */
}

/* CSS cho nút Cancel */
button.cancel-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #dc3545; /* Màu đỏ */
  color: white;
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
}

button.cancel-btn:hover {
  background-color: #c82333; /* Màu đỏ đậm khi hover */
}
