

<footer class="footer-main ">
  <div class="container">
    <div class="row address-main">
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          <div class="add-icon">
            <img style="width: 70px;" src="assets/images/icon-img.png" alt="" />
          </div>
          <div class="add-content">
            <h5>QuizArena</h5>
            <p> Global educational membership organization, moving towards educational technology 4.0. Innovating world education </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          <div class="add-icon">
            <fa-icon [icon]="faPhoneSquareAlt" style="font-size: 50px;color: #fff;"></fa-icon>
          </div>
          <div class="add-content">
            <h5>Phone</h5>
            <p>  +(84) 1422143245 <br />
            +(84) 19472618473  </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          <div class="add-icon">
            <fa-icon [icon]="faEnvelope" style="font-size: 50px;color: #fff;"></fa-icon>
          </div>
          <div class="add-content">
            <h5>Email</h5>
            <p> <a href="mailto:" style="text-decoration:none">quizarena@fpt.vn</a> </p>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Copyright Footer -->
<footer class=" text-center text-white">

<!-- Grid container -->
<div class="container p-2 pb-0">
  <!-- Section: Social media -->
  <section class="mb-2">
    <!-- Facebook -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><fa-icon [icon]="faSquareFacebook"></fa-icon></a>

    <!-- Twitter -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><fa-icon [icon]="faTwitterSquare"></fa-icon></a>

    <!-- Google -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><fa-icon [icon]="faGooglePlusSquare"></fa-icon></a>

    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><fa-icon [icon]="faInstagramSquare"></fa-icon></a>

  </section>
  <!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
Code&Design © 2023 By Group G-52.
</div>
<!-- Copyright -->
</footer>
</footer>
