<div class="body-payment">

  <div class="cards">
    <div class="card active">
      <ul>
        <li class="pack">VIP User</li>
        <li id="professional" class="price bottom-bar">&dollar;10</li>
        <li class="bottom-bar">Do quiz with friends</li>
        <li class="bottom-bar">Chat & Send stickers</li>
        <li class="bottom-bar">Double exp do quiz</li>
        <li class="bottom-bar">Unlimited creation of private quizzes</li>
        <li><button class="btn-pay active-btn" [routerLink]="['/payment']">Upgrade now</button></li>
      </ul>
    </div>
  </div>

  <div class="right-body">
    <div class="img-payment">
      <img src="assets/images/card.png" alt="img">
      <div class="text-payment">
        <h5>Payment leads to connections between friends.</h5>
      </div>
    </div>
  </div>

</div>
