<app-header></app-header>



<section class="section-padding">
  <div class="banner-staff">
    <img  src="/assets/images/banner-staff.jpg" alt="Banner Image">
    <h4>Staff</h4>
  </div>
  <div class="container body-create">
      <div class="row" style="min-height: 550px;">
          <div class="col-md-4 left-content">
            <div class="div-left-content">
              <h5>Staff</h5>
              <p>
                Quiz Arena would like to thank you for your contributions of question sets to us.
              </p>

              <p-menu #menu [model]="items" [popup]="true"></p-menu>
              <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="Add"></button>
            </div>

          </div>
          <div class="col-md-8 right-content">
            <div class="right-header" *ngIf="slidesStore && slidesStore.length>0">
              <h5>Quiz Draft</h5>
            </div>
            <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="img-right" *ngIf="!slidesStore || slidesStore.length<1">
                <img src="assets/images/right-img-content.png">
              </div>

              <owl-carousel-o  [options]="customOptions" *ngIf="slidesStore && slidesStore.length>1">
                <ng-container *ngFor="let slide of slidesStore">

                  <ng-template carouselSlide >
                    <div class="item">
                      <a [routerLink]="['/edit-quiz-staff',slide.href]">
                        <div class="portfolio-item">
                        <div class="thumb">
                          <p-skeleton *ngIf="!isLoaded" width="100%" height="1100%"></p-skeleton>
                            <img *ngIf="isLoaded && slide.src && slide.src.length>0" [src]="slide.src" alt="image quiz">
                            <img *ngIf="isLoaded && (!slide.src || slide.src.length<1)" src="assets/images/quizdefault.jpg" alt="image default quiz">

                        </div>
                        <div class="down-content">
                          <h4 *ngIf="slide.title && slide.title.length>0" >{{slide.title}}</h4>
                          <h4 *ngIf="!slide.title ||  slide.title.length<1" >No title</h4>
                          <span *ngIf="slide.desc && slide.desc.length>0">{{slide.desc}}</span>
                          <span *ngIf="!slide.desc || slide.desc.length<1">Unknown</span>
                        </div>
                      </div>
                      </a>
                    </div>
                  </ng-template>
                </ng-container>

              </owl-carousel-o>

              <div *ngIf="slidesStore && slidesStore.length<2" class="row">
                <ng-container *ngFor="let slide of slidesStore" >
                    <div class="item col-lg-4 col-md-6" >
                      <a [routerLink]="['/edit-quiz-staff',slide.href]">
                        <div class="portfolio-item">
                        <div class="thumb">
                          <p-skeleton *ngIf="!isLoaded" width="100%" height="1100%"></p-skeleton>
                            <img *ngIf="slide.src && isLoaded" [src]="slide.src" alt="image quiz">
                            <img *ngIf="!slide.src && isLoaded" src="assets/images/quizdefault.jpg" alt="image default quiz">

                        </div>
                        <div class="down-content">
                          <h4>{{slide.title}}</h4>
                          <span>{{slide.desc}}</span>
                        </div>
                      </div>
                      </a>
                    </div>
                </ng-container>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>

<section class="section-padding" style="background: #d9fcff; padding-bottom: 10% !important;">
    <div class="container">
        <div class="row">
            <section>
                <div class="container">
                    <h2 style="text-align: center;">
                        Quiz Manage
                    </h2>
                    <div class="filter-buttons">
                        <button (click)="showList(3)" [ngClass]="{ 'color': color === 3 }">Pending</button>
                        <button (click)="showList(2)" [ngClass]="{ 'color': color === 2 }">Reject</button>
                        <button (click)="showList(1)" [ngClass]="{ 'color': color === 1 }">Approve</button>
                    </div>

                    <div class="col-md-12" >
                        <div class="grid-quiz" >
                            <div class="item-grid" *ngFor="let quiz of listQuiz">
                                <div class="img-grid">
                                    <img *ngIf="quiz.image && quiz.image.length>0" [src]="quiz.image" alt="Banner Image">
                                    <img *ngIf="!quiz.image || quiz.image.length<2" src="assets/images/quizdefault.jpg" alt="Banner Image">
                                    <span class="overlay" [routerLink]="['/edit-quiz-staff',quiz.quizId]">{{quiz.title}}</span>
                                </div>
                            </div>
                            <h5 *ngIf="!listQuiz || listQuiz.length<1" style="text-align: center;">Empty</h5>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<section class="section-padding" style="background: #ffffff; padding-bottom: 10% !important;">
  <div class="container">
      <div class="row">
          <section>
              <div class="container">
                  <h2 style="text-align: center;">
                      Question Manage
                  </h2>
                  <div class="filter-buttons">
                      <button (click)="showListQuestion(2)" [ngClass]="{ 'color': colorQuestion === 2 }">Pending</button>
                      <button (click)="showListQuestion(3)" [ngClass]="{ 'color': colorQuestion === 3 }">Reject</button>
                      <button (click)="showListQuestion(1)" [ngClass]="{ 'color': colorQuestion === 1 }">Approve</button>
                  </div>
                  <div class="col-md-12" >
                      <div class="grid-quiz" >
                          <div class="item-grid" *ngFor="let category of listCategory">
                              <div class="img-grid">
                                  <img src="assets/images/defautCategory.jpg" alt="Banner Image">
                                  <span style="opacity: inherit !important" *ngIf="colorQuestion === 3" class="overlay" [routerLink]="['/edit-question',category.categoryId]">{{category.categoryName
                                  }}</span>
                                  <span style="opacity: inherit !important" *ngIf="colorQuestion === 1 || colorQuestion === 2" class="overlay" (click)="openDialog(category.categoryId)">{{category.categoryName
                                  }}</span>
                              </div>
                          </div>
                          <h5 *ngIf="!listCategory || listCategory.length<1" style="text-align: center;">Empty</h5>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
</section>

<p-dialog [(visible)]="showResultApprove"  [modal]="true" [breakpoints]="{ '960px': '50vw' }"
        [style]="{ width: '75vw' , 'max-height': '100%'}" [draggable]="false" [resizable]="false" dismissable="true">
        <div class="table-responsive no-wrap">
          <p-table
            #dt1
            [value]="listQuestion"
            dataKey="questionId"
            [rows]="10"
            [showCurrentPageReport]="true"
            [loading]="loading"
            [paginator]="true"
            [rowHover]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['questionText', 'username']"
            >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                  <th style="min-width:15rem">
                    <div class="flex align-items-center" type="text" field="questionText" >
                        Question ID
                    </div>
                </th>
                    <th style="min-width:15rem">
                        <div class="flex align-items-center" type="text" field="questionText" >
                            Question
                        </div>
                    </th>
                    <th style="min-width:15rem">
                        <div class="flex align-items-center th-creator" type="text" field="userId">
                            Difficult Level
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-question>
                <tr class="row-question">
                  <td style="padding-left: 3%;">
                    {{ question.questionId }}
                </td>
                    <td>
                        {{ question.questionText }}
                    </td>
                    <td class="colum-creator">
                      <div *ngIf="question.difficultyLevel == 1">Easy</div>
                      <div *ngIf="question.difficultyLevel == 2">Medium</div>
                      <div *ngIf="question.difficultyLevel == 3">Hard</div>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
      </div>
    </p-dialog>
