
#image-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border: 2px dashed #ccc;
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  
  #image-container{
    width: 100%;
    height: 100%;
    max-height: 350px;
    max-width: 510px;
    cursor: pointer;
  }
  
  .image-slot .img-upload{
    max-height: 350px;
    max-width: 510px;
    object-fit: cover;
  }
  
  
  .body-create {
      padding-top: 130px;
      padding-bottom: 80px;
  }
  
  .CreateSetPage {
      margin: auto;
      max-width: 95%;
      background-color: #f1f1f1c7;
      padding: 2% 20%;
      border-radius: 10px;
  }
  
  .CreateSetQuestion{
      margin-bottom: 3%;
      background-color: #fff;
      padding: 20px 34px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .messError-ques{
    font-size: 14px;
    color: rgb(231, 21, 21);
    margin-left: 40px;
  }
  
  .c1go502 {
      margin-bottom: 20px;
      text-align: center;
  }
  
  .c11u1mbs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
  }
  
  
  .c3go502 {
      margin-bottom: 15px;
  
  }
  
  .title-create{
    color: #25a3df;
    font-size: 24px ;
    font-weight:bold;
  }
  
  /* Tạo độ rộng cố định cho các trường nhập và loại bỏ độ rộng mặc định của textarea */
  .c3go502 textarea {
      width: 100%;
      box-sizing: border-box;
  }
  
  /* Tạo độ rộng cố định cho các trường select */
  .c3go502 select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #5abbff;
  }
  
  
  
  /* Canh lề trái cho các label */
  .c3go502 label {
      display: block;
      margin-bottom: 5px;
      margin-right: 10px;
      color: #5abbff;
  }
  
  .c3go502 input[type="radio"] {
      margin-right: 10px;
  }
  
  
  /* Canh lề trái cho các radio button và label tương ứng */
  .c3go502 div input[type="radio"] {
      transform: scale(1.5);
      margin-right: 15px;
  }
  
  .c3go502 div label {
      display: inline-block;
  }
  
  .SpecialCharacterTextarea {
      width: 100%;
  }
  
  .cqy7lq4{
      width: 100%;
      height: 100px;
  }
  
  .c1lzqd91{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
  }
  
  .UITextarea {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 10px;
  }
  
  .UITextarea textarea,
  .AutoExpandTextarea-textarea {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: calc(100% - 16px);
  }
  
  .UITextarea textarea,
  .AutoExpandTextarea-sizer,
  .AutoExpandTextarea-wrapper {
      width: 100%;
      box-sizing: border-box;
  }
  
  .UITextarea-content {
      position: relative;
  }
  
  .AutoExpandTextarea {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      min-height: 70px;
  }
  
  .AutoExpandTextarea-wrapper {
      flex-grow: 1;
  }
  
  .AutoExpandTextarea-textarea {
      width: calc(100% - 20px);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      resize: none;
  }
  
  .UITextarea-border {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #07bfff;
  }
  
  .UITextarea-label {
      position: static;
      top: 0;
      left: 10px;
      color: #5abbff;
      padding: 0 5px;
  }
  
  .AssemblyButtonBase {
      display: inline-block;
      padding: 5px 14px;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      margin: 0 9px;
  }
  
  .AssemblyPrimaryButton--default {
      background-color: #4edfff;
      color: #fff;
      border: 3px solid #58cae2;
  }
  
  .AssemblyRedButton--default{
    background-color: #e51616;
    color: #fff;
    border: 3px solid #ab0606;
  }
  
  .AssemblyRedButton--default:hover{
    background-color: #c20101;
  
  }
  
  .AssemblyPrimaryButton--default:hover {
      background-color: #54cef9;
  }
  
  
  
  .radio-with-text {
      display: flex;
      align-items: center;
  }
  
  .radio-with-text input[type="radio"] {
      margin-right: 10px; /* Khoảng cách giữa radio và text */
  }
  
  .text-input {
      display: flex;
      align-items: center;
  }
  
  .text-input label {
      margin-right: 5px;
  }
  
  .text-input input[type="text"] {
      padding: 8px; /* Kích thước của ô input */
      border: 1px solid #ccc; /* Viền của ô input */
      border-radius: 4px; /* Độ cong góc của ô input */
      font-size: 14px; /* Kích thước chữ trong ô input */
      width: 150px; /* Độ rộng của ô input */
  }
  
  .text-input label {
      font-size: 14px; /* Kích thước chữ của nhãn */
  }
  
  .text-input input[type="text"] {
      width: 300px; /* Đặt độ dài mong muốn, có thể điều chỉnh giá trị này */
  }
  
  .add-button {
      background-color: #fff;
      border: none;
      color: #25a3df;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
      margin-left: 150px;
      cursor: pointer;
      transition: transform 0.2s; /* Thêm hiệu ứng chuyển động */
    }
  
  
    .add-button-question{
      background-color: rgba(241, 241, 241, 0.7803921569); /* Màu nền */
      border: none; /* Loại bỏ đường viền */
      color: #25a3df; /* Màu chữ */
      text-align: center; /* Canh giữa chữ */
      text-decoration: none; /* Loại bỏ đường gạch chân */
      display: inline-block;
      font-size: 38px;
      margin: -3% 50% 0%;
      cursor: pointer; /* Đổi con trỏ chuột khi hover */
    }
  
    .delete-button {
      background-color: #ffffff; /* Màu nền */
      border: none; /* Loại bỏ đường viền */
      color: #25a3df; /* Màu chữ */
      padding: 10px 20px; /* Kích thước padding */
      text-align: center; /* Canh giữa chữ */
      text-decoration: none; /* Loại bỏ đường gạch chân */
      display: inline-block;
      font-size: 18px;
      margin: 4px 2px;
      cursor: pointer; /* Đổi con trỏ chuột khi hover */
    }
  
    .delete-button-xmark{
      background-color: #ffffff;
      border: none;
      color: rgb(223, 56, 37);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
      cursor: pointer;
    }
  
  .btn-scroll-top{
    background-color: #59d4ffc9;
    border-radius: 7px;
    position: fixed;
    bottom: 25px;
    right: 10px;
    border: none;
    color: #fff;
    width: 35px;
    opacity: 0.6;
  }
  
    .div-notebtn{
      display: flex;
      align-items: center; /* Căn giữa theo chiều dọc */
      justify-content: flex-end;
    }
  
    .title-note{
      color: #db2323;
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .btn-surenote{
      background-color: #65d8e9;
      border: none;
      width: 120px;
      height: 50px;
      border-radius: 8px;
      color: #fff;
      font-weight: 600;
    }
  
    .btn-surenote:hover{
      background-color: #0a93a8;
  
    }
  
  .c3go502 img {
      max-width: 100%; /* Chỉnh kích thước tối đa */
      margin-top: 10px; /* Khoảng cách từ input đến ảnh */
      display: block; /* Để tránh khoảng cách dư thừa dưới ảnh */
  }
  
  .p-inputtext{
    width: 100%;
  }
  
  .cmt-content{
    margin-bottom: 50px;
  }

  .confirmation-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .confirmation-message {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .confirmation-actions {
    display: flex;
    gap: 10px;
  }
  